@using PostCard.Areas.Login.Model;
@using PostCard.Areas.Login.Controller;
@model LoginViewModel
@{  
    HttpCookie cookie = Request.Cookies.Get("UserData");
    LoginController loginController = new LoginController();
    loginController.CheckGuide(cookie);
}

<h1>WItaj ziomek: @Model.Nick, kaman</h1>